@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserTemplate.cshtml";
}
<style>
    .fotorama1649841607722 .fotorama__nav--thumbs .fotorama__nav__frame {
        padding: 2px;
        height: 150px
    }

    .fotorama1649841607722 .fotorama__thumb-border {
        height: 146px;
        border-width: 2px;
        margin-top: 2px
    }</style>
<span class="ProductDetails"></span>
<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="~/Scripts/ShowProduct.js" type="text/javascript"></script>

@*
    @foreach (var item in ViewBag.Data)
    {
    <div class="col-md-4">
    <div class="product-thumb">
    <header class="product-header">
    <img src="~/assets/img/iphone_5_ipad_mini_ipad_3_800x600.jpg" alt="Image Alternative text" title="iPhone 5 iPad mini iPad 3" />
    </header>
    <div class="product-inner">
    <ul class="icon-group icon-list-rating" title="4/5 rating">
    <li><i class="fa fa-star"></i>
    </li>
    <li><i class="fa fa-star"></i>
    </li>
    <li><i class="fa fa-star"></i>
    </li>
    <li><i class="fa fa-star"></i>
    </li>
    <li><i class="fa fa-star-o"></i>
    </li>
    </ul>
    <h5 class="product-title">Electronics Big Deal</h5>
    <p class="product-desciption">Volutpat torquent orci luctus pharetra volutpat nisl dis</p>
    <div class="product-meta">
    <ul class="product-price-list">
    <li><span class="product-price">@item.product.ProductName @* $153*</span>
    @*                           </li>
    </ul>
    <ul class="product-actions-list">
    <li><a class="btn btn-sm" href="#"><i class="fa fa-shopping-cart"></i> To Cart</a>
    </li>
    <li><a class="btn btn-sm"><i class="fa fa-bars"></i> Details</a>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    }
*@