
@{
    ViewData["Title"] = "CartView";
    Layout = "~/Views/Shared/_UserTemplate.cshtml";
}




<div class="CartDetails"></div>
<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="~/Scripts/CartProducts.js" type="text/javascript"></script>

