
@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Shared/_UserTemplate.cshtml";
}

<h1>ProductDetail</h1>
<span class="ProductDetails"></span>
<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="~/Scripts/ShowProduct.js" type="text/javascript"></script>

