 <div class="col-md-12 m-t-3" >
      <div class="card">
           <div class="card-header">
              <div class="card-title">
                 <button type="button" class="btn btn-primary" data-toggle="modal"  data-target="#MyModal">
                   <i class="fa fa-plus-square-o"><strong>  Add SubCategory</strong></i> 
                 </button>
               </div>
            </div>
              <!-- /.card-header -->
<div class="card-body">
   <table id="example1" class="table table-bordered table-striped">
      <thead>
          <tr>
              <th>Category</th>
              <th>SubCategory</th>
              <th>Status</th>
          </tr>
       </thead>
    <tbody class="tbl_SubCategory">
 
    </tbody>
    <tfoot>
           <tr>
               <th>Category</th>
               <th>SubCategory</th>
               <th>Status</th>
            </tr>
    </tfoot>
</table>
     </div>
              <!-- /.card-body -->
            </div>
                   </div>
              
     