
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminTemplate.cshtml";
}
<div class="invoice"></div>
<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="~/Scripts/ViewInvoice.js" type="text/javascript"></script>
 
