
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        CategoryID
                    </th>
                    <th>
                        CategoryName
                    </th>
                    <th>
                        Status
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tbl_catList">
                
            </tbody>
        </table>
    </div>
</div>